<% ##################################### %>
<% ################ CSS ################ %>
<% ##################################### %>
<style>
  table.components_table { width: 100%; }
  table.components_table td { vertical-align: top; }
  table.components_table td.menu { min-width: 200px; }
  table.components_table td.side.menu>div {clear: both;}
  a.secondary, span.secondary { text-decoration: none; color: #ddd; cursor: pointer; }
  a.secondary::before, span.secondary::before { content: '\2003'; }
  a.secondary:hover, span.secondary:hover { color: gray; }
  div.side_menu__component-actions { float: right; }
  .bounce {
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
    color: red !important;
  }
  @keyframes bounce {
      0%   { transform: translateY(0); }
      1%  { transform: translateY(10px); }
      100% { transform: translateY(0); }
  }
</style>

<% ##################################### %>
<% ############### HTML ################ %>
<% ##################################### %>
<table class="components_table">
  <tr>
    <td class="side menu">
      <%
          @component_prefixes = {
            'autoload_lib' => '_lib:', 'partial' => '_part:'
            }
          def component_path_with_prefix c
            prefix = @component_prefixes[c.component_type] || ''
            parents = c.context == 'root' ? '' :  (c.context + '/') #
            link_text = parents + prefix + c.name
            return link_text
          end
          components_texts = {}
          Rosie::Component.all.each{ |c| components_texts[component_path_with_prefix(c)] = c}
          components_ordered = components_texts.sort_by{|path_with_prefix, c| path_with_prefix}

          def component_link_text c
            text = component_path_with_prefix(c).gsub(/[^\/]+\//, '&mdash;&nbsp;')
            if prefix = @component_prefixes[c.component_type]
              text.gsub!(prefix, prefix.gsub('_',''))
            end
            return text.html_safe
          end
          %>
      <% components_ordered.each do |entry| c = entry[1]  %>
        <div component_path="<%= c.path %>"
          component_filepath="<%=Rosie::ComponentTypes.relative_filepath(c)%>"
          component_md5="<%=Digest::MD5.hexdigest File.read Rosie::ComponentTypes.absolute_filepath(c) %>">

          <% # this is link to the component %>
          <%= link_to component_link_text(c), {path: c.path}, class: 'edit_link'

          # this is span to show whether the component is locked by other programmer
          %><% if c.get_locking_programmer
            %><span style="color:gray" title="Locked by <%= c.get_locking_programmer %>"><%=
               raw("*&nbsp;#{Rosie::Programmer.short_name(c.get_locking_programmer)[0..2]}")
            %></span>
          <% end %>

          <div class="side_menu__component-actions">
            <% # this is span to toggle visibility component's subcomponents, download and synс %>
            <% if c.component_type == 'role' %>
              <a class="download_role_files secondary" href="/p/download_role_files?role=<%=c.path%>"
                    title="download role files">&darr;</a>
              <span class="start_sync secondary" onclick="window.prepare_sync(this);"
                    title="sync with local folder">&#x21C8;</span>
              <span class="toggle_components secondary" onclick="window.toggle_dependent_components(this);"
                    title="collapse/expand"></span>
            <% end %>


            <% # this is span to open scenario in a new tab %>
            <% if c.component_type.in? %w'scenario' %>
              <%= link_to '&#9657;'.html_safe, component_path(role: c.root_context, scenario: c.name), target: :blank, class: "secondary",
                    title: 'Open this scenario in new page' %>
            <% end %>

            <% # this is Delete link %>
            <a href="#" class="del secondary" onclick="window.deleteLinkClicked(this); return false;"
               title="Delete component">×</a>
          </div>

        </div>
      <% end %>
      <br/>
      <%= select_tag "add_new_component",
        options_for_select(Rosie::Component.permitted_component_types.map{|ct|
          ["new #{ct.humanize}", ct, {prompt: Rosie::ComponentTypes.templates[ct][:prompt]}]},
          (@component.component_type if @component.new_record?)),
        include_blank: 'Add new component',
        onchange: "new_component_select_changed.call(this);" %>

      <% if (@version_count = @component.versions.count) > 0 %>
        <hr/>
        <div id="versions">
          <% @component.versions.reorder('ID DESC').limit(100).
               select(:id, :whodunnit, :created_at).each.with_index do |v, index| %>
            <div class="version" data-index="<%= @version_count - index + 1%>">
              <span><%= v.whodunnit ? Rosie::Programmer.short_name(v.whodunnit) : raw('<i>Undefined</i>') %></span>
              <%= link_to({path: params[:path], diff_with: (v.id if index > 0)},
                {class: 'version_ts', style: 'float:right', title: v.created_at.to_s(:short) }) do %>
                <%= short_time_ago_in_words v.created_at %>
              <% end %>
            </div>
          <% end %>
          <div class="version" data-index="1">
            <span><i>initial</i></span>
            <%= link_to({path: params[:path], diff_with: 0},
              {class: 'version_ts', style: 'float:right', title: @component.created_at.to_s(:short) }) do %>
              <%= short_time_ago_in_words @component.created_at %>
            <% end %>
          </div>
        </div>
      <% end %>
    </td>



    <td id="component_form" data-original-path="<%= @component.path if @component.persisted? %>"
      data-latest-version-timestamp="<%= @component.latest_version_timestamp %>"
      data-new-component-type="<%= @component.component_type if @component.new_record? %>">
      <%= @component.component_type %>
      <% if @component.occurence == 'multiple' %>
        <input type="string" id="name" value="<%= @component.name %>"></input>
      <% end %>
      @
      <%= select_tag "context", options_for_select(@component.permitted_contexts.sort, @component.context),
        onchange: "context_select_changed.call(this);"%>&emsp;

      format <%= select_tag "format", options_for_select(@component.permitted_formats, @component.format) %>&emsp;
      handler <%= select_tag "handler", options_for_select(@component.permitted_handlers, @component.handler) %>&emsp;


      <span style="color: red;" id="locked_by">
        <% if @component.get_locking_programmer %>
          <%= "Locked by #{@component.get_locking_programmer} #{time_ago_in_words @component.updated_at} ago" %>
        <% end %>
      </span>
      <% unless @component.get_locking_programmer %>
        <span style="color:gray;" class="menu">Cmd|Ctrl+S to <a onclick="saveComponent();return false;" href="#">save changes</a></span>
      <% end %>
      <br/>
      <textarea id="body" style="display:none;"><%= @component.body %></textarea>
      <% if params[:diff_with]
            @diff_version_component = @component.paper_trail.version_at(
            params[:diff_with].to_i > 0 ?
              @component.versions.find(params[:diff_with]).created_at + 0.5.seconds :
              @component.created_at + 0.5.seconds) %>

        <%= hidden_field_tag 'diff_version_body', @diff_version_component.body %>

        <% # Собираем историю commit message из всех версий %>
        <%= hidden_field_tag 'commit_message_history',
              @component.versions.where('id > ?', params[:diff_with]).reorder('id desc').map{ |v|
                commit_message = v.commit_message.presence || '<i>No commit message</i>'
                "[#{v.created_at.utc} - #{v.whodunnit}]\n#{commit_message}\n\n"
              }.join().html_safe %>
      <% end %>
      <%= render 'loading_error' if @component.loading_error.present? %>
      <%= render 'hints' %>
    </td>
  </tr>
</table>

<% ##################################### %>
<% ################ JS ################# %>
<% ##################################### %>

<script>
// Initialization
window.name = "component_edit";
document.title = '<%= @component.path.split('/').reverse.join(' - ') %> - ' + document.title;

var format = $('#format').val(),
  handler = $('#handler').val(),
  codemirror_mode =
    (format == 'html' && handler == 'erb') ? "application/x-erb" :
    (format == 'json' && handler == 'erb') ? "application/x-erb" :
    (format == 'html' && handler == 'slim')   ? "application/x-slim" :
    (format == 'css'  && handler == 'raw')    ? "text/css" :
    (format == 'css'  && handler == 'scss')   ? "text/x-scss" :
    (format == 'css'  && handler == 'sass')   ? "text/x-sass" :
    (format == 'js'   && handler == 'raw')    ? "text/javascript" :
    (format == 'js'   && handler == 'coffee') ? "text/x-coffeescript" :
    (format == 'text' && handler == 'ruby')   ? "text/x-ruby" : "text/plain";

// Adding CodeMirror
window.editor = CodeMirror.fromTextArea(document.getElementById("body"), {
  lineNumbers: true,
  mode: codemirror_mode,
  indentWithTabs: false,
  viewportMargin: Infinity,
  lineWrapping: true,
  matchBrackets: true
});
editor.getWrapperElement().style.height = 'auto';
window.initial_body = $('#body').val();

editor.focus();

// New component select change
window.new_component_select_changed = function(){
  if($(this).val()) {
    var prompt_text = $('option:selected', this).attr('prompt'), name = '';
    if(prompt_text && (prompt_text != '')) name = prompt(prompt_text);
    if(name != null) window.location = "?path=NEW&type="+$(this).val() + (name ? ('&name='+name) : '');
    else $(this).val('');
  }
};

// New component context change (for updating template component body)
window.context_select_changed = function(){
  if($('#component_form').data('original-path') == ""){ // if this is a new component
    var qs = QueryString();
    qs['context'] = $(this).val();
    window.location = '?' +  qs.build();
  }
}
</script>



<script>  // AJAX Save and Create

$(document).keydown(function (e) {
  if ((e.metaKey || e.ctrlKey) && e.keyCode == 83) {
    e.preventDefault();
    saveComponent();
  }
});

function checkLockIsFree() {
  if($('#locked_by').text().trim() != "") { return false; } else { return true; }
}

function checkCommitMessagePresent() {
  if($('#commit_message').val() == "") {
    alert('Please enter commit message');
    $('#commit_message').css('background-color', 'rgb(255, 255, 207)').focus();
    return false;
  } else {
    return true;
  }
}

function saveComponent() {
  if(!checkLockIsFree()) { alert($('#locked_by').text().trim()); return; }
  if(!checkCommitMessagePresent()) return false;

  editor.getWrapperElement().style.background = '#eee';
  editor.focus();
  $.ajax({url: "?", type: "POST",
    data: {
      body: $('#body').val(),
      component_type: $('#component_type').val(),
      context: $('#context').val(),
      name: $('#name').val(),
      format: $('#format').val(),
      handler: $('#handler').val(),
      commit_message: $('#commit_message').val(),
      original_path: $('#component_form').data('original-path'),
      new_component_type: $('#component_form').data('new-component-type'),
      latest_version_timestamp: $('#component_form').data('latest-version-timestamp')}}).
    success(function(result){
      eval(result);
      editor.getWrapperElement().style.background = '';
      window.initial_body = $('#body').val();
    }).
    fail(function(jqXHR, textStatus, errorThrown) {
      alert(jqXHR.responseText);
      editor.getWrapperElement().style.background = '#faa';
    });
  return true;
}

</script>



<script>  // side menu highlight

$('.side.menu div[component_path="'+QueryString()['path']+'"] a.edit_link').addClass('selected');

if(QueryString()['diff_with'])
  $('.side.menu #versions a').filter(function(){
    return QueryString(this.search)['diff_with'] == QueryString()['diff_with']; }).each(
      function(){ $(this).addClass('selected').prev().addClass('selected'); });
</script>



<script>  // AJAX Delete

window.deleteLinkClicked = function(link)
{
  if(!checkLockIsFree()) return;
  if(!checkCommitMessagePresent()) return false;

  var pathToDelete = $(link).closest('div[component_path]').attr('component_path');
  if(confirm('Delete "' + pathToDelete + '" – Are you sure?'))
  {
    $.ajax({url: "?", type: "POST", data: {
        delete: pathToDelete,
        commit_message: $('#commit_message').val()
      }}).success(function(result){ eval(result); });
    $(this).remove();
  }
}
</script>



<script>  // Track line numbers

editor.on('cursorActivity', function(cm) {
  window.history.replaceState({},'', '#'+ ((parseInt(cm.getCursor()['line']) || 0) + 1) +
    ":" + ((parseInt(cm.getCursor()['ch']) || 0) + 1));
}) ;

// Set cursor. Reload tab if opened first time (strange bug in codemirror - it sets cursor as expected only on
// the second load of the page, otherwise the cursor is misplaced)

// var reload_cookie_name = 'reload_cookie_'+window.location.pathname+window.location.search;
// if(!Cookies.get(reload_cookie_name))
// {
//   Cookies.set(reload_cookie_name, 'true', {
//     expires: new Date(new Date().getTime() + 1 * 5000),
//     path: '' });
//   $('body').hide();
//   window.location.reload();
// } else {
//   Cookies.remove(reload_cookie_name);
  if(window.location.hash.indexOf(':') > -1)
  {
    $(document).ready(function(){
      setTimeout(function(){
        var pos = window.location.hash.substr(1).split(':');
        editor.setSelection({line:0, ch:0},{line:0, ch:1});
        editor.replaceSelection(' '); editor.undo(); // workaround to "floating" cursor position bug
        editor.setSelection({line:pos[0]-1, ch:pos[1]-1}, {line:pos[0]-1, ch:pos[pos.length-1]-1});
      }, 200);
    });
  }
//}

</script>



<script>  // Setting timeout for for ::EDIT_TIMEOUT OR Locking editor; Unlocking on beforeunload

window.setOrResetLockTimeout = function(){
  if(window.__lockTimeout) clearTimeout(window.__lockTimeout);
  window.__lockTimeout = setTimeout(function(){
    $('#locked_by').text('Locked by Timeout (<%= Rosie::Programmer::EDIT_TIMEOUT.inspect %>)');
    editor.getWrapperElement().style.background = '#eee';
  }, <%= Rosie::Programmer::EDIT_TIMEOUT.to_i %> * 1000);
}
if(checkLockIsFree())
{
  setOrResetLockTimeout();
} else {
  editor.getWrapperElement().style.background = '#eee';
}
</script>



<script>  // Protect from accidentally closing tab with work in progress

$(window).on('beforeunload', function(){
  if(window.initial_body != $('#body').val())
    return 'You have unsaved changes. Delete them?';
  if($('#locked_by').text().trim() == "")
    $.ajax({url: "?", type: "PUT", data: {unlock: $('#component_form').data('original-path')}});
});

editor.on('change', function(cm) {
  editor.save();
}) ;

</script>



<script>  // Toggle visibility of subcomponents

window.toggle_dependent_components = function(element){
  var component_path = $(element).closest('div[component_path]').attr('component_path')
  var states = JSON.parse(localStorage.getItem("closed_dependent_components")) || [];
  var need_to_collapse = (states.indexOf(component_path) == -1) // component path is not in closed components array, so collapsing
  if(need_to_collapse) states.push(component_path); else states.splice(states.indexOf(component_path), 1);
  localStorage.setItem("closed_dependent_components", JSON.stringify(states));
  window.update_component_state(component_path);
}

window.update_component_state = function(component_path){
  var states = JSON.parse(localStorage.getItem("closed_dependent_components")) || [];
  var state_closed = states.indexOf(component_path) > -1;
  if(state_closed)
  {
    $(".side.menu div[component_path^='"+component_path+"/'").hide();
    $(".side.menu div[component_path='"+component_path+"'] .toggle_components").html('&gt;&gt;')
  } else {
    $(".side.menu div[component_path^='"+component_path+"/'").fadeIn();
    $(".side.menu div[component_path='"+component_path+"'] .toggle_components").html('&lt;&lt;')
  }
}

// Now initializing on page load
$('span.toggle_components').each(function(){
  var component_path = $(this).closest('div[component_path]').attr('component_path');
  window.update_component_state(component_path);
});

</script>



<script>  // ShowDiff if diff_with provided

if($('#diff_version_body').size() > 0)
{
  var origin = $('#diff_version_body').val(),
      current_value = $('#body').val(),
      commit_message_history = $('#commit_message_history').val(),
      $current_version = $('#versions>.version:first'),
      $compared_version = $('#versions>.version a.selected').parent();

  $('#component_form').html(
    '<b>Diffing version ' + $current_version.data('index') + " (current) " +
    'with version ' + $compared_version.data('index') + '</b>'+
    '<div><pre style="margin-top:0;">' +
    (commit_message_history == "" ? '<i>No commit message history</i>' : commit_message_history) +'</pre></div>'+

    '<span>Version ' + $current_version.data('index') + " (current) – " +
    $current_version.find('span').text() + ', ' +
    $current_version.find('a').attr('title')+"</span>" +
    ($compared_version.size() > 0 ? ('<span style="float:right;">Version ' + $compared_version.data('index') + " – " +
    $compared_version.find('span').text() + ', ' +
    $compared_version.find('a').attr('title')+"</span>") : ""));

  var diff_view = CodeMirror.MergeView($('#component_form')[0], {
    value: current_value,
    orig: origin,
    lineNumbers: true,
    mode: codemirror_mode,
    highlightDifferences: true,
    connect: 'align',
    collapseIdentical: false,
    lineWrapping: true
  });

  function mergeViewHeight(mergeView) {
    function editorHeight(editor) {
      if (!editor) return 0;
      return editor.getScrollInfo().height;
    }
    return Math.max(editorHeight(mergeView.leftOriginal()),
                    editorHeight(mergeView.editor()),
                    editorHeight(mergeView.rightOriginal()));
  }
  function resize_merge_view(mergeView) {
    var height = mergeViewHeight(mergeView) + 200;
    for(;;) {
      if (mergeView.leftOriginal())
        mergeView.leftOriginal().setSize(null, height);
      mergeView.editor().setSize(null, height);
      if (mergeView.rightOriginal())
        mergeView.rightOriginal().setSize(null, height);

      var newHeight = mergeViewHeight(mergeView);
      if (newHeight >= height) break;
      else height = newHeight;
    }
    mergeView.wrap.style.height = height + "px";
  }

  resize_merge_view(diff_view);
} else {
// We are in current version, so highlight latest version as current
  $('#versions>.version:first a, #versions>.version:first span').addClass('selected');
}
</script>

<script>  // role sync
  window.prepare_sync = function(el){
    if(!window.checkCommitMessagePresent()) return false;

    var role_to_sync = $(el).closest('[component_path]').attr('component_path');
    if(!!window._sync_role && (window._sync_role != role_to_sync)) {
      alert('Already syncing: '+window._sync_role);
      return false;
    }
    window._sync_role = role_to_sync;
    var role = window._sync_role;
    // here we check if we can block all the role components and have a commit_message in place
    $.ajax({url: "?check_can_sync="+encodeURIComponent(role), type: "PATCH"}).success(function(result){
        if(result['can_sync']) {

          $('#locked_by').text('Locked by File Sync (<%= Rosie::Programmer::EDIT_TIMEOUT.inspect %> sliding timeout)');
          editor.getWrapperElement().style.background = '#eee';

          // add file input with directory uploading
          $('#__fs').remove();
          $('<input type="file" webkitdirectory="true" id="__fs" style="display:none"/>').change(function(){
            window.load_files_and_check_md5(role, this);
          }).appendTo('body').click();
      } else {
        alert('Sync cannot be started:\n'+result['reason']);
      }
    });
  }

  window.load_files_and_check_md5 = function(){
    // here we upload direcotry and compare md5 of files
    var role = window._sync_role;
    var file_input = window.__fs;
    window._sync = {};
    $(file_input.files).each(function(){
      var file = this;
      if(file.name[0] == '.') return;
      var relative_path = file.webkitRelativePath;
      var component_filepath = role+'/'+file.webkitRelativePath.split(/\/(.+)/)[1];
      var md5 = $('div[component_filepath="'+component_filepath+'"]').attr('component_md5');
      var component_path =  $('div[component_filepath="'+component_filepath+'"]').attr('component_path');
      var count = 0;
      var file_last_modified = this.lastModified;
      var reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function (evt) {
        client_md5 = CryptoJS.MD5(evt.target.result).toString();
        window._sync[relative_path] = {
          role: role,
          file_input_path: file.webkitRelativePath,
          md5_equals: (client_md5 == md5),
          component_path: component_path,
          component_filepath: component_filepath,
          file_last_modified: file_last_modified,
          relative_path: relative_path
        }
        if(!window._sync[relative_path]['md5_equals']) {
          window._sync[relative_path]['body'] = evt.target.result;
        }
        if(window.check_files_timeout) clearTimeout(window.check_files_timeout);
        window.check_files_timeout = setTimeout(confirm_changes, 100);
      }
    });
  }

  window.confirm_changes = function(){
    var modified_files = "", added_files = "", total_count = 0;
    $.each(window._sync, function(k,v){
      if(v['md5_equals'] === false){
        if(v['component_path'])
          modified_files += "- " + v['component_filepath'] + "\n";
        else
          added_files += "- " + v['component_filepath'] + "\n";
      }
      total_count++;
    })

    if(modified_files != "" || added_files != "") {
      var prompt_text = "Components to be overwritten. ";
      if(modified_files != "") prompt_text += "Modified: \n" + modified_files;
      if(added_files != "") prompt_text += "Added: \n" + added_files;
      prompt_text += "\nEnter role name ("+window._sync_role+") to upload."
      if(prompt(prompt_text) == window._sync_role){
        window.upload_changes();
      } else {
        alert('Component name was entered incorrectly')
      }
    } else if(total_count > 0) {
      window.confirm_and_start_sync();
    } else {
      alert('No files to sync');
    }
  }

  window.upload_changes = function(){
    var data_to_upload = [];
    $.each(window._sync, function(k,v){
      if(v['md5_equals'] === false){
        data_to_upload.push(v);
      }
    });

    $.ajax({url: "?upload_changes="+encodeURIComponent(window._sync_role),
      type: "PATCH", data: {
        files: JSON.stringify(data_to_upload),
        commit_message: $('#commit_message').val()
      }}).success(function(result){
        if(result['success'])
        {
          if(result['reload'])
            window.location.reload();
          else
            window.confirm_and_start_sync();
        }
      });
  }

  window.confirm_and_start_sync = function(){
    if(!confirm('Files are in sync. Do you wish to watch files on client and upload them as they change?')){
      window.location.reload();
    } else {
      $('div[component_path='+window._sync_role+'] .start_sync').addClass('bounce');
      window.__sync_interval = setInterval(function(){
        if($('#locked_by').is(':contains(Timeout)')) {
          window.clearInterval(window.__sync_interval);
          $('div[component_path='+window._sync_role+'] .start_sync').removeClass('bounce');
          return;
        }

        $(window.__fs.files).each(function(){
          var file = this;
          var file_info = window._sync[file.webkitRelativePath];
          if(!file_info) return;
          if(file.lastModified != file_info['file_last_modified'])
          {
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function (evt) {
              file_info['file_last_modified'] = file.lastModified;
              file_info['body'] = evt.target.result;

              $.ajax({url: "?upload_changes="+encodeURIComponent(window._sync_role),
                type: "PATCH", data: {
                  files: JSON.stringify([file_info]),
                  commit_message: $('#commit_message').val()
                }
              }).success(function(result) {
                window.jingle.play();
                window.setOrResetLockTimeout();
              });
            }
          }
        });
      }, 500);
    }
  }

  window.jingle = new Audio(<%=render(partial: 'rosie/programmer/jingle')%>);

</script>
