<% # HTML %>

File use case: <%= select_tag 'file_use_case',
  options_for_select(
    Rosie::AssetFile.group(:file_use_case).count(:id).tap{|result| result[nil] ||= 0}.
      sort_by{|k,v| k || ""}.map{|k,v| ["#{k || '[default]'} - #{v}",k]},
    params[:file_use_case]),
  onchange: "window.location = '?file_use_case=' + encodeURIComponent($(this).val());" %>
(total - <%= Rosie::AssetFile.count%>)
<br/><br/>

<% cache "asset_files_index #{Rosie::AssetFile.cache_invalidation_key}_#{params[:file_use_case]}" do %>

  <% @files.each do |file| %>
    <%= link_to file.filename, asset_file_path(file.filename) %>&nbsp;<a href="#" title="Delete this file" class="delete">×</a>
    <span style="color:gray">
      <% if file.autoreplace_filepaths %><span title="Autoreplace filepaths">*</span><% end %>
      <%= number_to_human_size file.size %>,
      <%= Rosie::Programmer.short_name(file.versions.last.try(:whodunnit)) %>,
      <%= file.updated_at.to_s(:short) %>
    </span>
    asset_file_path('<%=file.filename%>')
    <br/>
  <% end %>

<% end %>
<%= form_tag("?", multipart: true, method: "post") do %>
  <br/><b>Upload new files</b><br/>
  <%= check_box_tag('rewrite') %><%= label_tag 'rewrite' do %>Rewrite files with same names<% end %><br/>
  <%= check_box_tag('remove_outer_directory_from_filepath') %><%=
    label_tag 'remove_outer_directory_from_filepath' do %>Remove outer directory from filepath<% end %><br/>
  <%= check_box_tag('autoreplace_filepaths_in_css_and_js_files') %><%=
    label_tag 'autoreplace_filepaths_in_css_and_js_files' do %>Autoreplace filepaths in css and js files<% end %><br/>
  Prepend this path to uploaded files <input type="text" name="prepend_path" placeholder="prepend path"></input><br/>
  File use case (for easy categorisation) <input value="<%=params[:file_use_case]%>" type="text" name="file_use_case" placeholder="file use case"></input>
  <br/><br/>
  Upload directory
  <input name="files[]" type="file" multiple="multiple" webkitdirectory mozdirectory
    onchange="$('input[type=file]').hide().parent().submit();"></input>
  <br/><br/>
  or selected files
  <input name="files[]" type="file" multiple="multiple"
    onchange="$('input[type=file]').hide().parent().submit();"></input>
<% end %>

<% # JS %>
<script>
  $('a.delete').click(function(){
    $.ajax({url: "?", type: "POST", data: {delete: $(this).prev().text()}}).
      done(function(){window.location = '?';}).
      error(function(jqXHR, textStatus, errorThrown){ alert('ERROR\n' + errorThrown); });
    return false;
  })
</script>

<% # CSS %>
<style>a.delete { color: gray; text-decoration: none;}</style>
